@font-face {
    font-family: 'clash display'; 
    src: url(/imtihon/static/fonts/ClashDisplay-Regular.woff2);
}

@font-face {
    font-family: 'satoshi';
    src: url(/imtihon/static/fonts/Satoshi-Regular.woff2);
}
 a, li {
    list-style: none;
    text-decoration: none;
 }